body {
  background-color: #011F3F;
  text-align: center;
}

#topic {
  font-family: 'Press Start 2P';
  color: #FEF2BF;
  font-size: 3rem;
  margin: 5%;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.row {
/* margin: 50px */
}

.btn {
  width: 200px;
  height: 200px;
  border: 10px solid;
  border-radius: 40px;
  display: inline-block;
  margin: 25px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red
  opacity: 0.8;
}
